


/*tablet :on screens that are min 376px, set the followings*/
@media screen and (max-width: 1094px) and (min-width: 834px) {

}


/*desktop: on screens that are 1094px or more, set the followings */
@media screen and (min-width: 1094px) {

    #container {
        flex-direction: row;
        justify-content: space-around;
        
        margin: 0em 4em 4em;
    }

    .article{
        margin-top: 3em;
        width: 22em;
     }

    .img_article {
        width: 60%;
    }

}