@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

html, body {
    display: flex;
    display: -webkit-box; /*pour adapter sur tous les navigateurs*/
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* ///////////////////////// HEADER /////////////////////////   */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-image: url("https://images.unsplash.com/photo-1580566176138-daa588058b59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");}

header > nav{
    background-color: rgba(37, 40, 61, 1);
    width: 100%;
}

header > nav > ul{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

    nav > ul > li{
        color: #ffffff;
        font-size: 0.8em;
        font-family: 'Source Code Pro', monospace;
        list-style-type: none;
    }

        li > a:link, a:visited{
            color: #ffffff;
            text-decoration: none;
        }

#cadre_titre {
    background-color: rgba(20, 24, 59, 0.4);
    padding: 0 2em 0 2em;
    margin: 1em 0;
}

h1, h2 {

    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

h1{
    text-transform: uppercase;    
    color: #ffffff;
    font-size: 2em;
}


/* rajout d'une deuxième div qui va faire que le header est séparé en deux et modif de la taille de la div grâce à flex-grow*/ 

header > #part2_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    flex-grow: 3; /* flew grow dit quelle quantité de place dispo dans le container cette div doit prendre. Ici elle prend 3fois plus de places que les autres  */
}

/* ///////////////////////// CORPS ///////////////////////// */

#container {
    flex-grow: 1;
}
/* ///////////////////////// FOOTER  /////////////////////////  */

footer {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#495057;
    height: 4em;
}

#bloc_logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.img_logo_github{
    /* margin: 1em; */
    height: 3em;
    width: 3em;
}

/* On ne veut pas que les noms apparaissent sur la version mobile */
.name {
display: none;
}

/* ///////////////////////// RESPONSIVE  /////////////////////////  */

/*tablet :on screens that are min 376px, set the followings*/
@media screen and (max-width: 1094px) and (min-width: 834px) {

}
    
/*desktop: on screens that are 1094px or more, set the followings */
@media screen and (min-width: 1094px) {

    h1 {
        font-size: 3em;
    }
    header > nav{
        height: 20%;
    }
        nav > ul > li{
            font-size: 1em;
            margin : 0.5em 0em 0 0.5em;
        }
    #part2_header{
        padding: 2em 0;
    }

    footer{
        background-color: #25283D ;
    }

/* On veut que les noms apparraissent sur la version Desktop  */
    .name {
        display: flex;
        flex-direction: row;
        font-family: 'Source Code Pro', monospace;
        letter-spacing: 0.3em;
        margin-right: 1em;
        }
        #mereani {color: #A100F2;}
        #aurelie {color: #EB8258;}
        #marine {color: #4FB0C6;}
        #adele{color: #F6F740;}
}