/* #container{
    box-sizing: border-box;
    margin : 1;
    padding: 1;
} */

#formulaire{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-content: center;
    background-color: #EB8258;
    color: #25283d;
    font-size: 0.8em;
    font-family: 'Source Code Pro', monospace;
    width: 80%;
    height: 80%;
}

#theme_et_image{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-content: center;
    
}

#themeArticle{
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

/*titre de votre article*/
input[placeholder] {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-size: 0.8em;
}

/*publiez*/
input[value] {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

/*champs du menu déroulant*/
option[value] {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

/*contenu article*/
textarea[placeholder] {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-size: 0.8em;
}

