@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #25283D;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1580566176138-daa588058b59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    height: 13em;
}

#cadre_titre {
    background-color: rgba(37, 40, 61, 0.4);
    padding: 0 2em 0 2em;
}

h1 {
    color: #ffffff;
    font-size: 5em;
    text-transform: uppercase;    
    font-family: 'Source Code Pro', monospace;
}

